/* ==== TEXTS ==== */
#welcome {
    font-family: 'OpenSans', sans-serif;
    font-size: 22.5px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    margin-bottom: 4%;
}

.subgreytext{
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #999999;
}

#blacktext{
color: #000000;
font-size: 16px;
text-align: center;
}

.text{
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    text-align: left;
    color: black;
    margin: 5% 0 0 2% ;
}


#conditions{
    font-size:12px;
    font-family: 'OpenSans', sans-serif;
    text-align: left;
    margin: 5% 0 5% 0 ;
    width:80%;
}

#terms{
    color: #999999;
    font-size:12px;
}

#terms:hover{
    color: #E37630;
}

#programText{
    font-size:12px;
    font-family: 'OpenSans', sans-serif;
    text-align: left;
    margin: auto;
    /* margin: 5% 0 5% 0 ; */
    width:70%;
}

/* ==== TEXT - REGISTERATION SPECIFIC ==== */

.textRegister{
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    text-align: left;
    color: black;
    margin: 5% 0 0 15% ;
    width:70%;
}

#conditionsRegister{
    font-size:12px;
    font-family: 'OpenSans', sans-serif;
    text-align: left;
    margin: 5% 0 0 15% ;
    width:70%;
}

#textProgramRegister{
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    text-align: left;
    color: black;
    margin: 5% 0 0 2% ;
    position:relative;
    left:35px;
}

/* ==== TEXT FIELDS ==== */

.textfield {
    width: 300px;
    height: 30px;
    border-radius: 2.5px;
    border: solid 0.5px rgba(149, 152, 154, 0.3);
    background-color: #fcfcfc;
}

.nametexts {
    width: 140px;
    height: 30px;
    border-radius: 2.5px;
    border: solid 0.5px rgba(149, 152, 154, 0.3);
    background-color: #fcfcfc;
}

.namefield {
    display:inline-block;
    margin-right:2%;
}

/* ==== BUTTONS ==== */

#button {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    background-color: #fff;
    border: solid 1px #f88325;
    align-content: center;
    font-size: 16px;
    color: #f88325;
    margin:0;
}

#button:hover{
    background-color: #E37630;
    color: #fff;
}

/* ==== LAYOUT ==== */

.parent{
    display:grid;
    grid-template-columns: 1fr 1fr;
    text-align:center;
}

.item1{
    grid-column: span 1;
    width:70%;
    align-self:center;
    justify-self:center;
}

.item2{ 
    grid-column: span 1;
    text-align:center;
    align-self:center;
    justify-self:center;
}

#programRegister-item2{
    grid-column: span 1;
    margin:auto;
}

#programRegister-item2>form{
    align-items:center;
    justify-items: center;
    margin-left: 10%;

}
/* ==== IMAGE ==== */

.item1 img{
    height:100%;
    width:100%;

}

/* @media only screen and (max-width: 768px) {} */