html,
body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 16px;
}

main {
    padding-top: 60px;
}

.container {
    max-width: calc(1280px + 4rem);
    margin-left: 50px;
    margin-right: 50px;
    width: 100%;
    padding: 1rrem ;
    box-sizing: border-box;
}
/* ======= Fonts (a, p, headers, etc.)====== */

a {
    font-size: 1rem;
    /* font-weight: bold; */
    line-height: 4;
    text-decoration: none;
    color: #10100F;
    text-align: left;
}

p {
    font-size: 1rem;
    font-weight: 300;
    font-weight: normal;
    line-height: 1.5;
    text-align: left;
    letter-spacing: normal;
    text-align: left;
    color: #252525;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #252525;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #252525;
}

h3 {
    font-size: 1.75rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #252525;
}

h4 {
    font-size: 1.25rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #252525;
}
/* =================Nav Bar================= */
.nav {
    text-align: right;
    height: 70px;
    line-height: 70px;
    background-color: #eaeaea;
    position: fixed;
    width: 100vw;
    z-index: 100000;
    overflow: hidden;
}

.menu {
    margin: 0 72px 0 72px;
    z-index: 10000;
    background-color: #eaeaea;
}

.nav-menu {
    clear: right;
    text-decoration: none;
    color: #000;
    margin: 0 10px;
    line-height: 40px;
    font-family: 'Open Sans', sans-serif;
}
.nav-menu li {
    display: inline-block;
    margin: 1em;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

.logo {
    position: absolute;
}

/*
.nav-icon1 img{
	max-width: 24px;
	float: none;
  	position: center;
	top: 20px;
  	left: 84%;
}

.nav-icon2 img{
	max-width: 24px;
	transform: translate(-50%, -50%);
	float: none;
  	position: center;
	top: 20px;
  	left: 87%;
}
*/

/* Link states*/

li a {
    color: black;
    line-height: 16px;
    text-decoration: none;
}

li a:hover {
    transition: color 0.1s ease;
    border-bottom: 3px solid darkgreen;
    color: darkgreen;
}
/* @Yang - can remove unless you want to make specific 
            to the nav links that are different than from 
            other links  */
/* .nav-menu:hover {
    transition: color 0.1s ease;
    border-bottom: 3px solid darkgreen;
    color: darkgreen;
} */

/* ===============Responsive Nav Bar=============== */

@media only screen and (max-width: 768px) {
    label {
        display: block;
        cursor: pointer;
    }

    .nav {
        z-index: 500;
        display: block;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;

    }

    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;

    }

    #toggle:checked + .menu {
        display: block;
    }

}

/* ===============Footer=============== */

footer {
    font-family: 'Open Sans', sans-serif;
    padding: 40px 72px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

footer ul {
    list-style: none;
}

.company, .product, .connect {
    grid-column: span 4;
    font-size: 14px;
    line-height: 30px;
}

.company h4, .product h4, .connect h4{
    font-size:16px; 
    font-weight: bold;
    margin-bottom: 40px;
    /* padding-left:39px;  */
}


.socialmedia {
    padding: 5px;
    
}

.socialmedia > * {
    color: black;
    padding: 5px;
}



/* ===============Bottom Bar=============== */
.bottom-bar {
    height: 35px;
    border-color: black;
    padding-left: 80px;
    padding: 5px 80px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;

}

.name {
    float: left;
    padding: 5px;
    letter-spacing: 2px;
}




/* ============responsive for tablets============  */
@media only screen and (max-width:768px) {

    #cta {
        text-align: center;
        margin-bottom: 8%;
    }

    .search-container {
        width: 400px;
        height: 450px;
        margin-bottom: 8%;
        position: center;
    }

    /* ============responsive column for mobiles============  */
    @media only screen and (max-width: 480px) {
        .hero {
            display: flex;
            flex-direction: column;
            justify-items: center;
        }
        
        .searchbar {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .search-container{
            margin-left: 0px;
        }
        
        #cta {
        position: relative;
        width:100%;
            margin-left: 0;
        font-size: 22px; 
        }
        
        form.searchbar input[type=text] {
        width: 250px;
        margin-top:5px; 
        display: inline-block;
}
        form.searchbar button {
            display: inline-block;
        }

        .grid-12-col {
            grid-template-columns: 1fr;
        }

        .six {
            grid-column-end: span 1;
        }



        .footer {
            grid-template-columns: 1fr;
        }