/*============ Main ============*/
.wrapper {
  margin: 50px 150px 72px 150px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  letter-spacing: 1px;
}

/*============ Form Elements ============*/
form div { 
  padding-bottom: 20px;
  /* display: flex; */
  max-width: 800px;
  /* flex-grow: 1; */
}

input {
  width: 100%;
  /* flex-grow: 1; */
}

textarea {
  width: 100%;
}

#submitBtn {
  display: inline-block;
  color: white;
  width: 80px;
  height: 37.6px;
  background-color: #ed8249;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  border: none;
  border-radius: 5px;
}

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Responsive layout - screen < 768px */ 
  @media screen and (max-width: 768px) {
    input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  } 