.search_nav {
    display: flex;
    width: 100%;
    height: 130px;
    background-color: #fafafa;
    align-items: center;
}

.search_nav_content {
    display: flex;
}

.search_nav_content h2 {
    margin-right: 30px;
}

.search_nav_content .ce-button {
    margin-left: 30px;
}

.search-form {
    display: flex;
    max-width: 700px;
    flex-grow: 1;
}

.search-form .ce-field {
    flex-grow: 1;
}

.search-results {
    display: flex;
}

.programs {
    width: 70%;
    max-width: 700px;
    padding-right: 20px;
}

.map {
    width: 30%;
}

.search_results_grid_12_col {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 20px;
}

.header_wrapper {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.search_results_list_container, .search_results_map_container {
    grid-column-end: span 6;
}

.listEl_container {
    width: 100%;
    min-height: 220px;
    border-radius: 5px;
    box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}
.listEl_full_content_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.listEl_header_top_wrapper {
    justify-content: flex-start;
    display: flex;
    align-items: center;
}
.listEl_header_location {
    margin-left: auto;   
    color: #707070;
    font-size: 0.8rem;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
}
.listEl_header_location i {
    margin-right: 0.5rem;
}
.listEl_header_top_wrapper p {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.8rem;
    color: #707070;
}

.listEl_content_container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.listEl_container_address {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    margin-bottom: 0.5rem;
}

.listEl_small_img {
    width: 300px;
    height: 220px;
    object-fit: contain;
    float: left;
}

.listEl_content_container .bottom_content_holder {
    display: flex;
    align-items: center;
    padding-top: 0.8rem;
    margin-top: auto;
}

.bottom_content_holder p {
    padding-left: 0.5rem;
    padding-right: 1rem;
    font-size: 0.8rem;
    color: #707070;
}

.listEl_container:hover {
    transform: scale(1.01);
    box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.16);
    transition-timing-function: ease-out;
    transition: 0.25s;
}

/* ================ MAP ================ */
.map {
    flex-grow: 1;
}
.map img {
    width: 100%;
}

/* ====== RESPONSIVE MOBILE/TABLET ====== */
@media only screen and (max-width: 768px) {
    .search_nav_content {
        flex-direction: column;
    }
    .search-form {
        width: 100%;
    }

    .search-results {
        flex-direction: column-reverse;
    }

    .programs {
        width: 100%;
        padding-right: 0px;
    }
}
