/* =========== REUSABLE UI CLASSES =========== */

.ce-container {
    max-width: calc(1280px + 4rem);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.ce-field {
    width: 100%;
    height: 45px;
    border-radius: 3px;
    border: solid 1px rgba(149, 152, 154, 0.3);
    padding: 0px 30px;
}


/* ================ BUTTONS ================= */
.ce-button {
    height: 45px;
    padding: 0px 20px;
    font-weight: bold;
}

.ce-button-primary { 
    background-color: #ED8249;
    border: solid 2px #ED8249;
    border-radius: 5px;
    color: #fff;
}

.ce-button-secondary { 
    background-color: #fff;
    border-color: #f88325;
    color: #f88325;
    border: solid 1px #f88325;
    border-radius: 5px;
    margin-left: 1rem;
}

.button-small {
    font-weight: bold;
    width: 160px;
    height: 40px;
}

/* ============== BUTTON STATES ============== */
.ce-button:hover {
    background-color: #E37630;
    color: #fff;
}

.button-small:hover {
    background-color: #E37630;
    border: solid 2px #E37630;
    margin-left: 1rem;
    color: #fff;
}


/* ========== HEADING LINE DIVIDER ========== */
.header_line_divider { 
    margin-top: 8px;
    margin-bottom: 20px;
}

.ce-col {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0rem;
}

.ce-grid-2, .ce-grid-3, .ce-grid-4 {
    display: flex;
    margin: 0 -1rem;
}

.ce-grid-2 > .ce-col {
    width: 50%;
}

.ce-grid-3 > .ce-col {
    width: 33.33%;
}

.ce-grid-4 > .ce-col {
    width: 25%;
}

@media only screen and (max-width: 768px) {
    .ce-col {
        width: 100%;
    }
}